html, body{
    background-color: #f3e9f1;
}

header{
    display: flex;
    flex-direction: row;
}

.topbar__logo{
    max-width: 40%;
}

nav{
    padding-top: 65px;
}

.nav__link{
    padding-left: 50px;
    padding-right: 50px;
    font-size: x-large;
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
  }

.container{
    background-color: #f3e9f1;
}

article{
    border: solid;
    max-width: 100%;
    max-height: 10%;
  }

h5{
    font-size: larger;
    color: red;
}

.card-body{
    text-align: center;
}

footer{
    text-align: center;
}

